{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

    <div class="media-body">
        <div>
            <a href = '{%url "profile"%}'>Go Back</a>
            </div>
    <div class="article-metadata">
        <h1>CreateRide</h1>
    </div>
   
        


<form action="" method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <button class="btn btn-outline-info" type="submit"> Create Ride </button>
  
</form>
</div>
{% endblock %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
    <h3>Menu</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Personal info</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'CreateRide' %}">Create a ride request</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'search_ride' %}">Search for a ride share</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'OwnerRides' %}">View my rides</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'ConfirmedUser' %}">View confirmed rides</a></li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}