{% extends "users/base.html" %}

{% block content%}
<div class="media-body">
    <div>
        <a href = '{%url "profile"%}'>Go Back</a>
        </div>
<div class="article-metadata">
<h1>Owner Rides</h1>
<body>
{% if not owner_open_rides %}
    <p>You are not the owner of any ride!</p>
    <a href="{% url 'CreateRide' %}">Create a ride</a>
{% else %}
    {% for ride in owner_open_rides %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <p class="mr-2">Ride No.{{ride.id}} Ride owner: <strong>{{ ride.owner }}</strong></p>
            </div>
                <p>Destination: <strong>{{ ride.destination }}</strong> </p>
                <p>Arrival time: {{ ride.arrival_time }}</p>
                <p>Remaining seats: {{ ride.RemainSeats }}</p>
                <p>Vehicle: {{ ride.Vtype }} </p>
                <p>Status : {{ ride.status }}</p>
                {% if ride.sharable %}
                <p>Sharable : YES</p>
                {% else %}
                <p>Sharable : NO</p>
                {% endif %}
                <p>Spcial Info : {{ride.Special}}</p>
            </div>
            <div>
                <a href = '/OwnerViewEdit/{{ride.id}}'>edit</a>
            </div>
        </article>
    {% endfor %}
{% endif %}
</body>
<hr></hr>
<h1>Sharer Rides</h1>
<body>
{% if not sharer_open_rides %}
    <p>You are not the sharer of any ride!</p>
    <a href="{% url 'search_ride' %}">Search for a ride share</a>
{% else %}
    {% for ride in sharer_open_rides %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <p class="mr-2">Ride No.{{ride.id}} Ride owner: <strong>{{ ride.owner }}</strong></p>
            </div>
                <p>Destination: <strong>{{ ride.destination }}</strong> </p>
                <p>Arrival time: {{ ride.arrival_time }}</p>
            </div>
            <div>
                <a href = '/SharerViewEdit/{{ride.id}}/'>edit</a>
            </div>
        </article>
    {% endfor %}
{% endif %}
</body>
</div></div>
{% endblock %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
    <h3>Menu</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Personal info</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'CreateRide' %}">Create a ride request</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'search_ride' %}">Search for a ride share</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'OwnerRides' %}">View my rides</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'ConfirmedUser' %}">View confirmed rides</a></li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}