{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<body>
{% if ride %}
<div class="content-section">
    <div>
        <a href = '{%url "profile"%}'>Go Back</a>
        </div>
<div class="media-body"><h1>Share Ride Details</h1></div>

        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <p class="mr-2">Ride No.{{ride.id}} Ride owner: <strong>{{ ride.owner }}</strong></p>
            </div>
                <p>Destination: <strong>{{ ride.destination }}</strong> </p>
                <p>Arrival time: {{ ride.arrival_time }}</p>
                <p>Sharers : {% if sharers_list %}{% for sharer in sharers_list %} {{ sharer }} {% endfor %}{% else %} no sharers {% endif %}</p>
                <p>Vehicle Type: {{ride.Vtype}}</p>
                <p>Remaining seats: {{ ride.RemainSeats }}</p>
                {% if ride.sharable %}
                    <p>Sharable : YES</p>
                {% else %}
                    <p>Sharable : NO</p>
                {% endif %}
                <p>Status : {{ ride.status }}</p>
                <p>Special Request: {{ride.Special}}</p>
            </div>
        </article>

        <br/>

        
    <h2> Edit share ride </h2>
    <form action="/sharer_edit_ride/" method="POST">
        {% csrf_token %}
        <article class="media content-section">
            <div class="media-body">
                <p>Party Size:<input type="number" name="party_size" min="1" max="6" required="required"></p>
                <input type="hidden" name="edit_id" value={{ride.pk}}>
                <input type="hidden" name="ride_id" value={{ride_id}}>
                <button class="btn btn-outline-info" type="submit"> Save Changes </button>
            </div>
        </article>
        
    </form>
</div>



{% else %}
    <p>No such ride.</p>
{% endif %}
</body>
{% endblock %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
    <h3>Menu</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Personal info</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'CreateRide' %}">Create a ride request</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'search_ride' %}">Search for a ride share</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'OwnerRides' %}">View my rides</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'ConfirmedUser' %}">View confirmed rides</a></li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}